:root {
  --primary: #1677ff;
  --background: oklch(96% 0 0);
  --text: oklch(from var(--background) calc(1 - l) c h);
  --accent: 0.1;
  --transition-duration: 0.2s;
  --transition-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(15% 0 0);
  }
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark light;
  color: var(--text);
  background: var(--background);
  font-family: system-ui, sans-serif;
  scrollbar-width: thin;
  scroll-padding-top: calc(64px + 1px);
}

code {
  padding: 0.2em 0.4em;
  border: 1px solid oklch(from currentColor l c h / 0.3);
  margin-inline: 1px;
  background-color: oklch(from currentColor l c h / 0.05);
  border-radius: 0.3em;
}

.a-reset {
  color: currentColor;
  text-decoration: none;
}

[data-tag]::after {
  content: attr(data-tag);
  display: inline-block;
  min-width: 1lh;
  padding-inline: 0.5ch;
  margin-inline-start: 1ch;
  box-sizing: border-box;
  background-color: oklch(from currentColor l c h / 0.1);
  border-radius: 0.3em;
  font-size: small;
  text-align: center;
  vertical-align: middle;
}

[data-theme] {
  --theme-hover: oklch(from var(--theme) calc(l + var(--accent)) c h);
  --theme-active: oklch(from var(--theme) calc(l - var(--accent)) c h);
  --theme: var(--text);
}

[data-theme="primary"] {
  --theme: var(--primary);
}

[data-theme="blue"] {
  --theme: #1368df;
  @media (prefers-color-scheme: dark) {
    --theme: #1677ff;
  }
}

[data-theme="purple"] {
  --theme: #722ed1;
  @media (prefers-color-scheme: dark) {
    --theme: #9951ff;
  }
}

[data-theme="cyan"] {
  --theme: #0c7a7a;
  @media (prefers-color-scheme: dark) {
    --theme: #13c2c2;
  }
}

[data-theme="green"] {
  --theme: #347d11;
  @media (prefers-color-scheme: dark) {
    --theme: #52c41a;
  }
}

[data-theme="magenta"] {
  --theme: #c82880;
  @media (prefers-color-scheme: dark) {
    --theme: #eb2f96;
  }
}

[data-theme="pink"] {
  --theme: #c82880;
  @media (prefers-color-scheme: dark) {
    --theme: #eb2f96;
  }
}

[data-theme="red"] {
  --theme: #d61e27;
  @media (prefers-color-scheme: dark) {
    --theme: #f5222d;
  }
}

[data-theme="orange"] {
  --theme: #a35b0e;
  @media (prefers-color-scheme: dark) {
    --theme: #fa8c16;
  }
}

[data-theme="yellow"] {
  --theme: #7d6d0a;
  @media (prefers-color-scheme: dark) {
    --theme: #fadb14;
  }
}

[data-theme="volcano"] {
  --theme: #fa541c;
}

[data-theme="geekblue"] {
  --theme: #2f54eb;
  @media (prefers-color-scheme: dark) {
    --theme: #4a6eff;
  }
}

[data-theme="lime"] {
  --theme: #587709;
  @media (prefers-color-scheme: dark) {
    --theme: #a0d911;
  }
}

[data-theme="gold"] {
  --theme: #92650b;
  @media (prefers-color-scheme: dark) {
    --theme: #faad14;
  }
}
