:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 12%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 8%);
    --foreground: hsl(0, 0%, 86%);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color-scheme: dark light;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
